* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
}
#main {
    height: 100%;
    width: 100%;
    /* background-color: #f8f8f8; */
    position: relative;
    padding-top: 0.1px;
}

#nav {
    height: 11vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h3 {
    display: none;
}

#nav h1 {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -1;
    position: relative;
}



#nav h1::after{
    content: "©";
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
    position: absolute;
    top: 6.5%;
    right: 5%;
}

#nav h1::before{
    content: "model management";
    font-family: gilroy;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    bottom: 12%;
    right: 15%;
    letter-spacing: 0.1px;
    color: #666;
}

#nav h2 {
    /* background-color: red; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 25px;
    font-weight: 600
}
#nav h2:nth-last-child(1){
    width: 10%;

}

#nav h2:nth-last-child(2){
    width: 29%;

}
#center {
    height: 80%;
    width: 100%;
    /* background-color: red; */
    padding: 3vw;
    position: relative;
}
#content {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}
#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
#overlay {
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 2vw;
    color: #fff;
}
#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: monument;
    font-size: 3.6vw;
}
#over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;
}
#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.3vw 0;
}
#over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img {
    height: 3vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container {
    height: 100%;
    width: 110%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
#scroll img {
    height: 100%;
    border-radius: 50%;
    width: 15%;
    margin: 0 1vw;
    object-fit: cover;
    object-position: 30% 30%;
    background-color: blue;
}
@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h5 {
    font-size: 1.6vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid#000;
    margin-right: 2vw;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    /* border: 2px solid black; */
    cursor: pointer;
    transition: all ease 0.2s;
}
#alphabet h6:hover {
    border: 1px solid #000;
}
#page2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#page2-part1 {
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1529139574466-a303027c1d8b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDEwfHxtb2RlbCUyMHBvdHJhaXR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
}
#page2-part2 {
   height: 100%;
   width: 46%;
}
#page2-part2 img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}
#p {
    height: 30%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between
}

#p p {
    font-size: 1.5vw;
    font-weight: 600;
    padding-top: 1vw;
    line-height: normal;

}
#p p:nth-last-child(1) {
    font-size: 1vw;
    font-weight: 500;
}
#page3 {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
}

#page3-part1 {
    height: 100%;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

#page3-part1 img {
    margin-top: 13vw;
    padding-right: 4vw;
}

#page3-part1 h3 {
    font-size: 1.5vw;
    font-weight: 500;
    margin-top:  8vw;
}

#page3-part2 {
    height: 90%;
    width: 48%;
    background-image: url(https://images.unsplash.com/photo-1530020964433-10340ed08440?q=80&w=2014&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    /* object-fit: cover; */
}
#page4 {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}
#page4 img {
    height: 80%;
    width: 90%;
    object-fit: cover;
    margin-left: 4.8vw;
}
#page4>h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "monument";
    padding: 3vw 0;
    font-size: 3vw;
    font-weight: 800;
}

#page5 {
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: red; */
}

 #page5 .elem {
    height: 22vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid black;
    /* margin-bottom: 5vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3vw;
    position: relative;
    transition: all ease 0.8s;
}

.elem img {
    height: 140px;
    width: 140px;
    position: absolute;
    border-radius: 50%;
    left: 15%;
    opacity: 0;
    transition: all ease 0.8s;
    object-fit: cover;
    object-position: top;
}

.elem h4 {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}

.elem .elem-part2 {
    width: 45%;
}

.elem-part2 h1 {
    font-size: 2.7vw;
    font-weight: 500;
}

.elem-part2 h5 {
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}


.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem:nth-last-child(1) img {
    left: 40%;
}

.elem:nth-last-child(3) img {
    left: 40%;
}

.elem:hover {
    background-color: #e6e6e6;
}

.elem:hover img {
    opacity: 1;
    left: 30%;
}

#page6 {
    height: 100%;
    width: 100%;
    display: flex;
}

#page6-left {
    height: 90%;
    width: 50%;
}

#page6-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-left: 3vw;
}

#page6-right {
    height: 90%;
    width: 50%;
    position: relative;
}

#page6-right h1 {
    font-size: 3vw;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "monument";
    padding-left: 4vw;
}


#page6-right h3 {
    padding-left: 4vw;
    margin-top: 1vw;
    font-size: 2vw;
    font-weight: 500;
    font-family: "plain";
}

#page6-right h5 {
    padding-left: 4vw;
    margin-top: 1vw;
    font-size: 1.2vw;
    font-weight: 100;
    font-family: "plain";
}
#page6-right #imag {
    height: 57.2%;
    width: 100%;
    display: flex;
}

#imag .img1 {
    height: 100%;
    width: 55%;
    object-fit: cover;
    object-position: center;
    padding-left: 4vw;
    margin-top: 2vw;
}

#imag .img2 {
    height: 100%;
    width: 40%;
    object-fit: cover;
    object-position: top;
    margin-top: 2vw;
    padding-left: 4vw;
}

#marq {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marq>h1 {
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: "monument";
    margin-right: 16px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}

#footer {
    height: 100%;
    width: 100%;
    /* background-color: burlywood; */
}

#blog {
    height: 25vh;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#blog h1 {
    font-size: 2vw;
    font-weight: 800;
    font-family: "monument";
    padding-bottom: 3.7vw;
}

#blog p {
    font-size: 1.3vw;
    font-weight: 500;
    font-family: "plain";
}

#blog p:nth-last-child(1) {
    padding-left: 3vw;
}


#blog-picture {
    height: 30vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#blog-picture .img1 {
    height: 220px;
    width: 370px;
    object-fit: cover;
    margin-left: 18vw;
}

#blog-picture .img2 {
    height: 220px;
    width: 370px;
    object-fit: cover;
    /* margin-right: 10vw; */
    /* padding-right: 10vw; */
}

#footer-info {
    height: calc(100% - 55vh);
    width: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    margin-top: 2vh;
}

#info1 {
    height: 90%;
    width: 30%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-around;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#info1 h1 {
    font-size: 2.2vw;
    font-weight: 800;
    font-family: "monument";
    margin-top: 2vw;
    position: relative;
}

#info1 h1::after{
    content: "©";
    font-family: gilroy;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
} 

#info1 h1::before{
    content: "model management";
    font-family: gilroy;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: 10.5%;
    right: 4%;
    letter-spacing: 0.1px;
    color: #666;
}

#info1 h4 {
    font-size: 1.2vw;
    font-weight: 500;
    font-family: "plain";
    margin-top: 2vw;
}

#info2 {
    height: 90%;
    width: 20%;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#info2 h3 {
    font-size: 1.2vw;
    font-weight: 500;
    font-family: "plain";
    padding: 2vw 5vw;
}

#info3 {
    height: 90%;
    width: 50%;
    /* background-color: cornflowerblue; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#info3 h3 {
    font-size: 1.2vw;
    font-weight: 500;
    font-family: "plain";
    padding: 2vw 7vw;
    border-bottom: 2px solid black;
}

#info3-social-link {
    padding: 2vw 7vw;
    font-size: 1.2vw;
    letter-spacing: 0.8vw;
}

#info3-copyright h4 {
    font-size: 1vw;
    font-weight: 400;
    font-family: "plain";
    padding: 0 8vw;
}

#info3-copyright h4::before{
    content: "©";
    font-family: gilroy;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    /* top: 10%; */
    left: 57.2%;
} 

@media (max-width:600px) {

    body{
        overflow-x: hidden;
    }

    #nav {
        height: 8vh;
        margin-top: 20px;
        padding: 0 5vw
    }
    #nav h1 {
        width: 40%;
       justify-content: flex-start;
       font-size: 24px;
        /* display: none; */
    }

    #nav h3 {
        display: block;
    }
    
    #nav h1::after{
     
        display: none;
    }
    
    #nav h1::before{
      
        display: none;
    }
    
    #nav h2 {
        display: none;
    }
    #center {
        height: 40%;
        width: 100%;
        /* background-color: red; */
        padding: 3vw;
        position: relative;
    }
    #content {
        height: 100%;
        width: 100%;
        /* background-color: blue; */
        position: relative;
    }
    #content video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: relative;
    }
    #overlay {
        height: fit-content;
        width: 100%;
        position: absolute;
        bottom: 0;
        /* background-color: red; */
        padding: 2vw;
        color: #fff;
    }
    #over1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2vw;
    }
    #over1 h1{
        font-family: monument;
        font-size: 5.5vw;
        font-weight: 100;
    }
    #over1 h2 {
        font-size: 2vw;
        padding: 3vw 3.2vw;
        /* background-color: blue; */
        border-radius: 50%;
        border: 1px solid #fff;
    }
    #over2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #fff;
        padding: 1.3vw 0;
    }
    #over2 h4 {
        font-size: 3vw;
        font-weight: 500;
    }
    #over2 img {
        height: 5vw;
    }

    #container {
        width: 100%;
    }

    #scroll {
        justify-content: flex-start; /* Adjusted to flex-start for smaller screens */
    }

    #scroll img {
        max-width: 30%; /* Adjusted width for smaller screens */
    }

}
